/*
This file is used to contain all imports and responsive styles.
*/

// import abstracts
@import "abstracts/variables";
@import "abstracts/mixins";
@media screen and (max-width: 1120px) {
    .navbar-default {
        margin-bottom: 2px;
        .nav {
            float: left;
            display: block;
            padding: 24px 0;
            width: auto;
            text-align: initial;
            vertical-align: initial;
            margin-top: 0px;
        }
    }
}


@media screen and (max-width: 991px) {
    .nav {
        position: absolute;
        background: $dark_blue;
        height: 100%;
        left: -45%;
        opacity: 0;
        width: 45%;
        transition: all .2s ease-in-out;
        z-index: 11;
        margin-top: 0px;
        border-right: 1px solid $social_color;

        li {
            display: block;
            a {
                color: $white;
                &:hover {
                    background-color: transparent;
                    color: $light_green;
                }
            }
        }
        li.active {
            a {
                color: $light_green;
            }
        }
    }
    .nav-btn {
        display: inline-block;
        float: left;
        cursor: pointer;
        font-size: 20px;
        color: $white;
        line-height: 95px;
    }
    .top_header {
        padding: 5px 0 0;
        .login {
            float: none;
            display: inline-block;
        }
        .navbar-brand {
            height: auto;
        }
        a {
            padding: 0px;
            margin: 0px;
            border: none;
            &:hover {
                background-color: transparent;
            }
        }
    }


    .nav_opened {
        -webkit-transform: translateX(42%);
        -moz-transform: translateX(42%);
        -ms-transform: translateX(42%);
        -o-transform: translateX(42%);
        transform: translateX(42%);
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    .nav.active {
        left: 0;
        opacity: 1;
        transition: all .5s ease;
    }

    .page-wrapper,
    footer {
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
    }
    span.fa.fa-bars.changeIcon:before {
        content: "\f00d";
    }
    .services .search-sec {
        max-width: initial;
        .form-group {
            margin-top: 5px;
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar-nav>li {
        float: none;
        text-align: center;
    }
}


@media screen and (max-width: 768px) {
    .carousel-caption {
        position: relative;
        top: 10%;
        z-index: 999999;
        color: black;
        max-width: initial;
        right: 0;
        background-color: $light_gray;
        h4 {
            font-size: $paragraph_font;
            color: $dark_blue;
        }
    }
    .overlay {
        display: none;
    }
    .carousel-control.left,
    .carousel-control.right {
        top: 20%;
    }
}

@media screen and (max-width: 520px) {
    .top_header {
        .login {
            display: block;
            margin-top: 5px;
        }
        a {
            display: inline-block;
        }
    }
}