/*
This file is used to contain all imports and main styles.
*/

// import abstracts
@import "abstracts/variables";
@import "abstracts/mixins";
@include fontFace('mainfont', '../fonts/GE_SS_Two_Light.otf');
//general
body,
h2,
h3,
h4,
h5 {
    font-family: mainfont;
}

body {
    overflow-x: hidden;
    position: relative;
}

a,
.btn {
    &:hover,
    &:focus {
        text-decoration: none;
        outline-offset: initial;
        outline: none;
    }
}


.dropdown-menu {
    text-align: right;
    left: auto;
    padding: 5px;
    max-height: 250px;
    overflow-y: auto;
    width: 100%;
    h5 {
        color: $light_green;
    }
    li {
        cursor: pointer;
        padding: 5px;
        &:hover {
            background-color: $medium_gray;
        }
    }
}

//top header
.top_header {
    padding: 20px;
    background-color: $dark_blue;
    .login {
        float: left;
    }
    .date {
        color: $white;
    }
    i {
        color: $light_green;
        margin-left: 5px;
    }
    a {
        padding: 10px 30px;
        margin: 0 5px;
        border-radius: 2px;
        &:hover {
            color: $white;
            background-color: $light_green;
            border-color: $light_green;
        }
    }
}

.nav-btn {
    display: none;
}

//carousel
.item {
    img {
        width: 100%;
    }
}

.carousel-control.left,
.carousel-control.right {
    background: none;
    opacity: 1;
    top: 50%;
    .fa {
        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        margin: 0 10px 0 0;
        @include border(1px, solid, $white);
        width: 39px;
        height: 39px;
        line-height: 39px;
        font-size: $small_font;
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.39);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.carousel-caption {
    max-width: 600px;
    margin: 0 auto;
    h4 {
        line-height: 35px;
    }
}

//nav
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 24px;
}

.navbar-default {
    margin-bottom: 28px;
    .navbar-nav {
        margin-top: 20px;
        >li {
            float: none;
            display: inline-block;
            a {
                padding: 10px;
            }
        }
    }
}


.navbar-brand {
    padding: 0px;
    img {
        max-height: 95px;
    }
}

// titles
.line {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    i {
        font-size: $medium_font;
        color: $light_green;
    }
    &:before {
        content: '';
        position: absolute;
        top: 13px;
        right: 40px;
        display: block;
        background: $light_gray;
        width: 202px;
        height: 2px;
    }
    &:after {
        content: '';
        position: absolute;
        top: 13px;
        left: 40px;
        display: block;
        background: $light_gray;
        width: 202px;
        height: 2px;
    }
}

//ads 
.ads {
    .owl-item {
        margin-top: 30px;
        img {
            max-width: 250px;
        }
    }
}

//page_content 
.page_content {
    min-height: 500px;
}

//footer 
footer {
    background-color: $dark_blue;
    color: $footer_title;
    padding: 10px 0;
    h4 {
        border-bottom: 1px solid $footer_line;
        padding-bottom: 20px;
        width: 80%;
        margin-bottom: 18px;
    }
    .tags {
        @include border(1px, solid, $footer_line);
        background: transparent;
        color: $footer_title;
        padding: 8px 20px;
        margin: 0 10px 12px 0;
        display: inline-block;
        &:hover {
            color: $white;
            background-color: $light_green;
            border-color: $light_green;
        }
    }
    .social {
        a {
            display: inline-block;
            margin-right: 8px;
            @include border(1px, solid, $social_color);
            background: $social_color;
            border-radius: 5px;
            padding: 0;
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: 30px;
            color: $social_font;
            &:hover {
                color: $white;
                background-color: $light_green;
                border-color: $light_green;
            }
        }
    }
    ul {
        line-height: 35px;
        li::before {
            content: '\f0d9';
            font-family: FontAwesome;
            color: $light_green;
            margin-left: 5px;
        }
    }
    .copyright {
        text-align: center;
        padding: 20px 0;
        border-top: 1px dashed $footer_line;
        margin-top: 30px;
    }
    .form-group {
        position: relative;
        margin-bottom: 50px;
        a {
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 0;
            height: 100%;
            padding: 0 20px;
            line-height: 33px;
            background-color: #62c3b6;
            color: white;
        }
    }
    .scrollToTop {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 40px;
        color: #425076;
    }
}


.message,
.service-ads,
.services {
    margin-top: 50px;
}

//services 
.services {
    .panel-default {
        border: none;
        .panel-heading {
            color: $social_color;
            padding: 11px;
            border-top: 1px dashed $medium_gray;
            border-bottom: 1px dashed $medium_gray;
            background-color: transparent;
            border-radius: 0;
            +.panel-collapse .panel-body {
                border: none;
            }
            a {
                display: block;
            }
            a[aria-expanded="false"] {
                &:before {
                    content: '\f067';
                    font-family: FontAwesome;
                    color: $light_green;
                    margin-left: 5px;
                }
            }

            a[aria-expanded="true"] {
                &:before {
                    content: '\f068';
                    font-family: FontAwesome;
                    color: $light_green;
                    margin-left: 5px;
                }
            }
        }
        .panel-body {
            a {
                float: left;
            }
        }
    }
    .title {
        border-bottom: 1px solid $medium_gray;
        padding-bottom: 20px;
        width: 80%;
        margin-bottom: 30px;
    }
    .search-sec {
        max-width: 450px;
    }
    .owl-nav {
        margin: 20px 0;
    }
}

//service-ads 
.service-ads {
    padding: 50px 0;
    background-color: #f7f7f8;
    h2 {
        color: $light_green;
        font-size: 20px;
    }
    p {
        color: $dark_gray;
        font-size: $paragraph_font;
    }
}

//comments
.comments {
    background-color: $light_green;
    padding: 20px 0;
    form {
        max-width: 500px;
        margin: 0 auto;
    }

    .btn {
        float: left;
        color: $dark_blue;
        width: 150px;
    }
    .title {
        border-bottom: 1px solid $white;
        padding-bottom: 20px;
        width: 300px;
        margin: 0 auto 30px;
        color: $white;
    }
    .form-control {
        background-color: $darken_green;
        border-color: $darken_green;
        color: white;
    }
    @include placeholder {
        color: $white;
    }
}


//buttons
.green {
    @include border(1px, solid, $light_green);
    color: $light_green;
}

.red {
    @include border(1px, solid, $light_red);
    color: $white;
    background-color: $light_red;
}

//owl carousel 
.owl-nav {
    .owl-prev,
    .owl-next {
        margin: 0 10px 0 0;
        @include border(1px, solid, $medium_gray) width: 39px;
        height: 39px;
        line-height: 39px;
        font-size: $small_font;
        text-align: center;
        display: inline-block;
    }
}

//dropdown 
.dropdown-toggle {
    text-align: right;
    background-color: transparent;
    color: $dark_gray;
    border-color: $more_gray;
    position: relative;
    outline: none !important;
    width: 100%;
    &:hover,
    &:focus,
    &:active {
        background-color: transparent;
        color: $dark_gray;
    }
}

.btn .caret {
    float: left;
    margin-top: 9px;
}

.dropdown-toggle.active,
.open .dropdown-toggle.btn-default {
    background-color: transparent;
    color: $dark_gray;
    border-color: $more_gray;
}

.btn-default.active.focus,
.btn-default:active.focus,
.open>.dropdown-toggle.btn-default.focus {
    background-color: transparent;
    color: $dark_gray;
    border-color: $more_gray;
}

.open>.dropdown-toggle.btn-default {
    &:hover,
    &:focus {
        background-color: transparent;
        color: $dark_gray;
        border-color: $more_gray;
    }
}

.btn-default:active,
.btn-default:active {
    &:hover,
    &:focus {
        background-color: transparent;
        color: $dark_gray;
        border-color: $more_gray;
    }
}

.btn-default.active,
.btn-default.active {
    &:hover,
    &:focus {
        background-color: transparent;
        color: $dark_gray;
        border-color: $more_gray;
    }
}

.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: transparent;
    color: $dark_gray;
    border-color: $more_gray;
}