/**
 * @Project Name  : Qvision task
 * @Starting Date : 5/9/2017
 * @Discription   : this file contains all the mixins for our website
 * @Auther        : Shaimaa Mohie
 */

// Font Family
@mixin fontFace($family, $src) {
    @font-face {
        font-family: $family;
        src: url($src);
    }
}

// prefixes
@mixin prefix($attr, $val) {
    -webkit-#{$attr}: $val;
    -moz-#{$attr}: $val;
    -ms-#{$attr}: $val;
    -o-#{$attr}: $val;
    #{$attr}: $val;
}

//keyframes
@mixin keyframes( $animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

//truncate
@mixin truncate($lines:2) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

//border
@mixin border($width,
$style,
$color) {
    border: $width $style $color;
}

//border_radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

//ellipsis
@mixin ellipsis ($max-width) {
    display: inline-block;
    max-width: $max-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//placeholder
@mixin placeholder {
     ::-webkit-input-placeholder {
        @content
    }
     :-moz-placeholder {
        @content
    }
     ::-moz-placeholder {
        @content
    }
     :-ms-input-placeholder {
        @content
    }
}