/**
 * @Project Name  : Qvision task
 * @Starting Date : 5/9/2017
 * @Discription   : this file contains all the variables for our website
 * @Auther        : Shaimaa Mohie
 */

//colors
$dark_green: #0cbdaa;
$light_green: #62c3b6;
$darken_green: #5eb6aa;
$light_gray: #f1f1f2;
$medium_gray: #e6e7e8;
$dark_gray: #929495;
$darken_gray: #828486;
$more_gray: #555;
$white: #fff;
$light_red: #ff6a6a;
$dark_blue: #242c42;
$footer_title: #e9eef2;
$footer_line: #49575f;
$social_color: #2c3754;
$social_font: #86a2aa;
//fonts
$small_font: 18px;
$medium_font: 20px;
$large_font: 27px;
$paragraph_font: 14px;